{% extends 'base.html' %}



{% block content %}
    <div class="text-center mw-500 m-auto">
        <div class="m-5">
            {% if target_User.profile %}
                <img src="{{ target_User.profile.image.url }}"
                     class="profile_image m-4"
                     alt="profile image">
                <h2 class="NNS_B">
                    {{ target_User.profile.nickname }}
                    {% if user == target_User %}
                    <a href={% url 'profileapp:update' pk=target_User.profile.pk %} class="material-icons round_button">
                        edit
                    </a>
                        {% endif %}
                </h2>
                <h5>{{ target_User.profile.message }}</h5>
            {% else %}
                <h2>
                    <a href={% url 'profileapp:create' %}>
                        프로필을 만들어 주세요.
                    </a>
                </h2>
            {% endif %}

        </div>
        <div>
            {{ target_User.date_joined }}
        </div>
        {% if user == target_User %}
        <div>
            <a href="{% url 'accountapp:update' pk=target_User.pk %}">
                정보 수정
            </a>
        </div>
        <div>
           <a href="{% url 'accountapp:delete' pk=target_User.pk %}">
               회원탈퇴
           </a>
        </div>
        {% endif %}
    </div>



{% endblock %}