.header_style{
    margin: 2rem 0;font-family: 'Yellowtail', cursive;
}

.header_marge{
    margin: 2rem 0;
}

.footer_marge{
    margin-top: 2rem;
}

.footer_style{
    margin: 2rem 0;
    font-family: 'Yellowtail', cursive;
}

.mw-500{
    max-width: 500px;
    padding: 1rem 1.5rem;
}

.profile_image{
    height: 12rem;
    width: 12rem;
    border-radius: 5rem;
    object-fit: cover;
}

.NNS_B{
    font-family: "NanumSquareB", cursive;
}