<div style="text-align: center;">
    <div class="header_style">
        <h1>
            <a href="{% url 'home' %}">
                Nothing here.
            </a>
        </h1>

    </div>
    <div class="header_marge">
        <span class="mx-2">
            <a href="{% url 'articleapp:list' %}">
                게시글
            </a>
        </span>
        <span class="mx-2">
            <a href="{% url 'projectapp:list' %}">
                프로젝트
            </a>
        </span>
        {% if user.is_authenticated %}
        <span class="mx-2">
            <a href="{% url 'subscribeapp:list' %}">
                    구독목록
            </a>
        </span>
        {% endif %}
        {% if not user.is_authenticated %}
        <span class="mx-2">
            <a href="{% url "accountapp:login" %}">
                Login
            </a>
        </span>
        <span class="mx-2">
            <a href="{% url "accountapp:create" %}">
                Sign up
            </a>
        </span>
        {% else %}
        <span class="mx-2">
            <a href="{% url 'accountapp:logout' %}">
                Logout
            </a>
        </span>
        <span class="mx-2">
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                My page
            </a>
        </span>
        {% endif %}
        <span class="mx-2">5</span>
    </div>
</div>